.gnavi{
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
    list-style: none;
    flex-wrap: wrap;
}

.gnavi a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: #333;
}

.gnavi li{
    margin-bottom: 20px;
}

.gnavi li a{
    position: relative;
    display: block;
    overflow: hidden;
    transition: all 0.2s;
}

.gnavi li.current a,
.gnavi li a:hover{
    color: #fff;
    background: #0481A2;
}

.gnavi li a:hover{
    transition-delay: 0.5s;
}

.gnavi li a:before,
.gnavi li a:after{
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background: #0481A2;
    transition: all 0.5s;
}

.gnavi li a::before{
    top: 0;
    transform: translateX(-100%);
}

.gnavi li a::after{
    bottom: 0;
    transform: translateX(100%);
}

.gnavi li a:hover::before,
.gnavi li a:hover::after{
    transform: translateX(0);
}