.arrow4{
    position: relative;
    display: inline-block;
    padding: 0 20px;
    color: #333;
    text-decoration: none;
    outline: none;
}

.arrow4::before{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 15%;
    width: 85%;
    height: 1px;
    background: #333;
    transition: all 0.3s;
}

.arrow4::after{
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 15px;
    height: 1px;
    background: #333;
    transform: rotate(35deg);
    transition: all 0.3s;
}

.arrow4:hover::before{
    left: 20%;
}

.arrow4:hover::after{
    right: -5%;
}