.btn06{
    position: relative;
    text-decoration: none;
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 40px 10px 30px;
    border-radius: 25px;
    text-align: center;
    outline: none;
    transition: ease 0.2s;
}

.btn06:hover{
    background: #555;
}

.arrow2::after{
    content: "";
    position: absolute;
    top: 42%;
    right: 13px;
    width: 5px;
    height: 5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.arrow2:hover::after{
    animation: arrow 0.5s;
}

@keyframes arrow{
    50%{
        right: 10px;
    }
    100%{
        right: 13px;
    }
}