.btn04{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color: #333;
    border: 1px solid #ccc;
    text-decoration: none;
    outline: none;
    overflow: hidden;
}

.btn04:hover{
    color: #ccc;
    border-color: transparent;
    transition-delay: 0.6s;
}

.btn04 span{
    display: block;
    z-index: 2;
}

.borderright span::before,
.borderright span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: #333;
    transition: all 0.3s;
}

.borderright span::before{
    right: 0;
    top: 0;
}

.borderright span::after{
    right: 0;
    bottom: 0;
}

.borderright:hover span::before,
.borderright:hover span::after{
    width: 100%;
}

.borderright::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background: #333;
    transition: all 0.3s;
}

.borderright:hover::before{
    width: 100%;
    transition-delay: 0.4s;
}