.timeline{
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    padding: 0 30px;
}

.timeline li{
    position: relative;
    list-style: none;
    padding: 0 0 20px 0;
}

.timeline dl{
    margin: 0 0 20px 3em;
}

.border-line{
    position: absolute;
    left: 0.2em;
    top: 0;
    width: 2px;
    height: 0;
    background: #666;
}

.timeline li::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
}